.sidebar{
    ul{
        li{
            &:hover{
                background-color: $blue;
                a{
                    color: $white;
                    text-decoration: none;
                    i{
                        color: $white;
                    }
                }
            }
            a{
                color: #333;         
                i{
                    color: $green;
                    margin-right: 10px;
                }
            }
        }
    }
}
.panel-heading{
    font-weight: 700;
    .add{
        float: right;
        color: $blue;
        &:after{
            content: "\f0fe"; 
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            margin-left: 10px;
            color: $blue;
        }
    }
}
.panel{
    h2{
        font-size: 3rem;
        text-align: center;
        color: $blue;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
        margin-top: 40px;
    }
    h3{
        margin-top: 20px;
        margin-bottom: 0px;
        color: $blue;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
    }
    h4{
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .show{
        p{
            margin-bottom: 0px;
            font-size: 1.2rem;
        }
    }
    .table{
        thead{
            background-color: $blue;
            color: $white;
            th{
                &:last-child{
                    text-align: right;
                }
            }  
        }
        tfoot{
            display: none;
            background-color: $blue;
            color: $white;
            th{
                &:last-child{
                    text-align: right;
                }
            }            
        }
        td{
            &:last-child{
                text-align: right;
            }
            i{
                font-size: 1.5rem;
            }
            .fa-pencil-square-o{
                color: $blue;
                margin-right: 5px;
            }
            .fa-trash{
                color: $red;
            }
            .fa-eye{
                color: $green;
            }
        }
    }
}
.panel{
    form{
        input[type=text], input[type=email], textarea{
            &:focus{
                border: 1px solid $green;
            }
        }
        select[multiple] {
            height: 500px;
        }
        input[type=submit]{
            float: right;
        }
        select{
            option{
                white-space: initial;
                &:focus{
                    background-color: $green;
                    color: $white;
                }
            }
        }
        .back{
            float: left;
        }
        .delete{
            padding: 0px;
            border: none;
            background-color: transparent;
            display: inline-block;
        }
        .questionOptions, .questionExtra{
            display: none;
            &.active{
                display: block;
            }
        }    
    }
    .formDelete{
        display: inline-block;
    }
}
.pagination > .active > a{
    background-color: $blue;
}