
.index{
    font-family: 'Oswald', sans-serif;
	float: left;
	width: 100%;
	border-top: 25px solid #0089c5;
	padding-bottom:  50px;
}
.cont-logo{
	float:  left;
	width: 100%;
	text-align: center;
}
.cont-logo img{
	max-width: 100%;
	margin-top: 10rem;
}
.index h2{
	float:  left;
	width: 100%;
	margin-top:  50px;
	font-size: 7rem;
	text-align: center;
	color: #0089c5;
	font-weight: 700;
	letter-spacing: 2px;
}
.index h4{
	color: #4b4b4d;
	float:  left;
	width: 100%;
	margin-top:  30px;
	font-size: 4rem;
	text-align: center;
	margin-bottom: 50px;
}
.index h5{
	color: #96989a;
	float:  left;
	width: 100%;
	margin-top:  30px;
	font-size: 4rem;
	text-align: center;
}
.index a{
	float:  left;
	width: 100%;
	margin-top:  30px;
	font-size: 7rem;
	text-align: center;
	display: block;
	color: #41b58f;
	margin-top: 0px;
	line-height: 9rem;
}
.index a:hover{
	color: #0089c5;
	text-decoration: none;
}
.forms{
	font-family: 'Oswald', sans-serif;
}
.forms h2{
	float:  left;
	width: 100%;
	margin-top:  30px;
	font-size: 4rem;
	text-align: center;
	color: #0089c5;
	font-weight: 400;
	letter-spacing: 2px;
	margin-bottom: 30px;
}
.forms p{
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	font-weight: 100;
	line-height: 30px;
	margin-bottom: 0px;
	margin-top: 10px;
}
.forms h3{
	font-size: 2rem;
	font-weight: 400;
	color: #0089c5;
	text-align: center;
	float: left;
	width: 100%;
	margin-top: 30px;
}
.forms label{
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1.5rem;
	margin-right: 10px;
}
.forms form p{
	line-height: 20px;
}
.forms .margin-checks input{
	float:  left;
	padding-left: 0px;
}
.forms .margin-checks label.checkbox{
	margin-left: 20px;
}
.forms form input[type=submit]{
	float: right;
	margin-top: 30px;
	margin-right: 15px;
}
.forms form input[type=text]{
	margin-bottom: 15px;
}
.form-group {
    margin-bottom: 0px;
}