
// Body
$body-bg: #f5f8fa;

//Colors

$text-color : #8a8a8a;
$subtitle-color: #343538;
$link-color: #444444;
$white  : #ffffff;
$black  : #ffffff;
$borders-color : #8a8a8a;
$purple: rgb(63, 4, 78);
$light-gray : #8a8a8a;
$blue: #009BCB;
$hover-color: #5175BA;
$light-blue: #7aabcb;
$green: #4DBD99;
$red: #f01c1c;

/*
===============================
            Social
===============================
*/

$facebook-color: #43619b;
$facebook-hover: #5175BA;
$instagram-color: #6a453b;
$instagram-hover: #8B5B4D;
$twitter-color: #55acee;
$twitter-hover: #59B7FD;
$google-color: #dd4b39;
$linkedin-color: #0177B5;
$github-color: #6b6b6b;
$stackoverflow-color: #2F96E8;
$dribble-color: #F26798;
$behace-color: #0093FA;
$whatsapp-color: #00a500;
$whatsapp-hover: #01BD01;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
